--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.4.1+cpu
torchvision==0.19.1+cpu
fastapi==0.115.0
uvicorn[standard]==0.32.0
gunicorn==23.0.0
sentence-transformers==3.1.1
faiss-cpu==1.8.0
requests==2.32.3
pymongo==4.8.0
python-dotenv==1.0.1
langchain==0.3.0
langchain-community==0.3.0
pydantic==2.9.2
redis==5.0.1
fastapi-limiter==0.1.6
httpx==0.27.2
pytest==8.3.3
pytest-asyncio==0.24.0
prometheus-client==0.21.0
locust==2.32.4
rank-bm25==0.2.2